{% if not ajax %}
{% extends "base_html.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
<div class="navbar">
	<div class="navbar-title left"><h1><a href="/" data="#blogposts">andygmb</a></h1></div>
	<div class="clear"></div>
</div>
{% endblock %}
{% endif %}

{% block content %}
<div id="projects" class="inner_section show">
	{% for project in projects %}
		{% if not project.deleted %}
			<div class="project shadow">

				<a href="{{ project.url }}"><div class="title"><h1>{{ project.title }}</h1></div></a>
				<img class="preview" src="../static/images/{{ project.preview }}">
				<div class="tldr"><p>{{ project.tldr }}</p></div>
				<div class="github"><a href="{{ project.url }}">view on github</a></div>
				
				{% if admin %}
					<div class="shadow edit">
						<a href="/{{project.title}}/project/{% if project.deleted %}un{% endif %}delete">{% if project.deleted %}un{% endif %}delete project</a>
					</div>

					<div class="shadow edit">
						<a href="/{{ project.title }}/project/edit">edit project</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}


