{% extends "base_html.html" %}

{% block navbar %}
<div class="navbar shadow">
	<div class="navbar-title left"><h1><a href="/" data="#blogposts">andygmb</a></h1></div>
	<div class="clear"></div>
</div>
{% endblock %}

{% block content %}
<div id="mainwrap">
	<div class="outer_section">
		<div id="blogposts" class="inner_section show">
			<div class="blogpost shadow">
				<div class="date">{{blog.date}}</div>
				<div class="title"><h1>{{blog.title}}</h1></div>
				<div class="blog_content">{{blog.blog_content}}</div>
				<a href="/" class="readmore">Return to home</a>
				{% if admin %}
				<div class="edit"><a href="/{{blog.url_title}}/edit">edit post</a><span> | </span><a href="/{{blog.url_title}}/delete">delete post</a></div>
				<div class="clear"></div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
