{% extends "base_html.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
<div class="navbar shadow">
	<div class="navbar-title left"><h1><a href="/" data="#blogposts">andygmb</a></h1></div>
	<div class="clear"></div>
</div>
{% endblock %}

{% block content %}
<div id="textarea" class="inner_section show">
	<form method="POST" action="/edit/blogpost">
	{{ form.hidden_tag() }}
	<div class="title"> {{form.title.label}} {{ form.title }}</div>
	<div class="url_title"> {{form.url_title.label}}{{ form.url_title(readonly="readonly", class="readonly")}} </div>
	<div class="blog_content">{{ form.blog_content }}</div>
	<div class="submit">{{ form.submit }}</div>
	</form>
</div>
{% endblock %}