{% extends "base_html.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
<div class="navbar shadow">
	<div class="navbar-title left"><h1><a href="/" data="#blogposts">andygmb</a></h1></div>
	<ul class="navbar-ul right">
		<li><a href="/projects" data="#projects">projects</a></li>
		<li><a href="/blog" data="#blogposts">blog</a></li>
	</ul>
	<div class="clear"></div>
</div>
{% endblock %}

{% block content %}
<div id="blogposts" class="inner_section show">
	{% if admin %}
	<div class="create shadow"><a href="/create_blogpost">Create blogpost</a></div>
	<div class="create shadow"><a href="/create_project">Create project</a></div>
	<div class="deleted_posts shadow"><a href="/deleted_posts">View deleted posts</a></div>
	<div class="deleted_projects shadow"><a href="/deleted_projects">View deleted projects</a></div>
	{% endif %}
		{% for blog in blogposts %}
		<div class="blogpost shadow">
			<div class="date">by {{blog.name}} on {{blog.date}}</div>
			<div class="title"><h1>{{blog.title}}</h1></div>
			<div class="blog_content">{{blog.blog_content[0:1000]}}...</div>
			<a href="/{{blog.url_title}}/" class="readmore">Read more</a>
			{% if admin %}
				<div class="edit"><a href="/{{blog.url_title}}/edit">edit post</a>
				<span> | </span> 
				<a href="/{{blog.url_title}}/{% if blog.deleted %}un{% endif %}delete">{% if blog.deleted %}un{% endif %}delete post</a></div>
			{% endif %}
		</div>
		{% endfor %}
	{% if not blogposts|length < 5 %}
		<div id="moreposts" class="shadow right"><a href="/more/{{ blogposts[-1].id }}">older posts</a></div>
	{% endif %}
	{% if prev %}
		<div id="prevposts" class="shadow right"><a href="/prev/{{ blogposts[0].id }}">newer posts</a></div>
	{% endif %}

	</div>


<div id="projects" class="inner_section hidden">
	{% for project in projects %}
		{% if not project.deleted %}
			<div class="project shadow">

				<a href="{{ project.url }}"><div class="title"><h1>{{ project.title }}</h1></div></a>
				<img class="preview" src="../static/images/{{ project.preview }}">
				<div class="tldr"><p>{{ project.tldr }}</p></div>
				<div class="github"><a href="{{ project.url }}">view on github</a></div>
				
				{% if admin %}
					<div class="shadow edit">
						<a href="/{{project.title}}/{% if project.deleted %}un{% endif %}delete_project">{% if project.deleted %}un{% endif %}delete project</a>
					</div>

					<div class="shadow edit">
						<a href="/{{ project.title }}/edit_project">edit project</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
$(".navbar .navbar-ul a").on("click", function(e){
	e.preventDefault();
	clicked = $($(this).attr("data"))
	shown = $(".show")
	if (clicked.hasClass("hidden") & !clicked.is(':animated')) {
		shown.animate({"right":"-110%"},{
			queue:false, 
			duration:300,
			complete:function(){
				shown.toggle()
				shown.removeClass("show")
				shown.addClass("hidden")
			}});
		clicked.toggle().animate({"right":"0%"}, {
			queue:false,
			duration:300,
			complete:function(){
				clicked.removeClass("hidden")
				clicked.addClass("show")
			}});
	}

});
</script>
{% endblock %}