{% extends "base_html.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
<div class="navbar">
	<div class="navbar-title left"><h1><a href="/" data="#blogposts">andygmb</a></h1></div>
	<div class="clear"></div>
</div>
{% endblock %}

{% block content %}
<div id="blogposts" class="inner_section show">
	<div class="blogpost shadow">
		<div class="date">by {{blog.name}} on {{blog.date}}</div>
		<div class="title"><h1>{{blog.title}}</h1></div>
		<div class="blog_content">{{blog.blog_content}}</div>
		<a href="/" class="readmore">Return to home</a>
		{% if admin %}
			<div class="edit"><a href="/{{blog.url_title}}/blogpost/edit">edit post</a>
			<span> | </span> 
			<a href="/{{blog.url_title}}/blogpost/{% if blog.deleted %}un{% endif %}delete">{% if blog.deleted %}un{% endif %}delete post</a></div>
		{% endif %}
	</div>
</div>
{% endblock %}
