{% extends "base_main.html" %}

{% block title %}{{ title }}{% endblock %}

		{% block titlebox %}
		<div id="title-box" class="blue box">
			<h1><a href="#">andygmb</a></h1>
		</div>
		{% endblock %}

		{% block blogposts %}
		<div id="blogposts">
			{% for blog in blogposts %}
			<div class="green box main">

				<div class="title">
				<h1>{{blog.title}}</h1>

				</div>

				<div class="date">
				{{blog.date}}
				</div>
				<div class="clear"></div>

				<div class="body">
				{{blog.content}}
				</div>

				<div class="footer">


					<div class="link">
					<a href="{{blog.short_title}}.html"> >>> Read more </a>
					</div>

				</div>
			</div>
			{% endfor %}
		</div>
		{% endblock %}

		{% block sidebar %}
		<div id="sidebar">
			<div class="blue box sidebar-post">
				<h3>Links</h3>
				<ul>
					<li><a href="#">github</a></li>
					<li><a href="#">reddit</a></li>
				</ul>
				<p>
			</div>
			<div class="orange box sidebar-post">
				<h3>Projects</h3>
				<ul>
					<li><a href="#">Conways game of life</a></li>
					<li><a href="#">Ray tracer</a></li>
				</ul>
				<p>
			</div>
		</div>
	<div class="clear"></div>
	{% endblock %}